<section id="travel_cost" class="travel_cost">
    <div class="container">

      <div class="section-title">
        <h2>Travel cost</h2>
        <p>Calculate your travel cost between 2 place in Poland.</p>
      </div>


      <div class="row" data-aos="fade-up">
        <div class="col-lg-6 ">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5048369.604010192!2d13.854437753435255!3d51.84225338936514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47009964a4640bbb%3A0x97573ca49cc55ea!2sPolska!5e0!3m2!1spl!2spl!4v1687371481210!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="col-lg-6">
          <form action="{{ url_for('home')}}" method="post" role="form" class="email-form" novalidate>
            {{ html_form.csrf_token }}
            <div class="row">
              <div class="col-md-6 form-group">
                {{ html_form.start.label }}
                {{ html_form.start(class_="form-control", placeholder="Your start") }}
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                {{ html_form.end.label }}
                {{ html_form.end(class_="form-control", placeholder="Your end") }}
              </div>
            </div>
            <div class="form-group mt-3">
              {{ html_form.distance.label }}
              {{ html_form.distance(class_="form-control", placeholder="Your distance") }}
            </div>
            <div class="form-group mt-3">
              {{ html_form.price.label }}
              {{ html_form.price(class_="form-control", placeholder="Diesel price") }}
            </div>
            <div class="form-group mt-3">
            {{ html_form.car.label }}
            {{ html_form.car(class_="form-control") }}
            </div>
            <div class="text-center mt-2">
              {{ html_form.calculate(class_="btn btn-secondary btn-sm") }}
            </div>
            
          </form>
        </div>

      </div>

    </div>
  </section>