{% include "header.html" %}

  <!-- ======= Top Bar ======= -->
  {% include "top_bar.html" %}

  <!-- ======= Header ======= -->
  {% include "navbar.html"%}
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  {% include "hero.html" %}
  <!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    {% include "stock_trading_info.html" %}
    <!-- End Why Us Section -->

    <!-- ======= Clients Section ======= -->
    {% include "clients_logo.html" %}
    <!-- End Clients Section -->

    <!-- ======= Cta Section ======= -->
    {% include "cta_section.html" %}
    <!-- End Cta Section -->


    <!-- ======= TOP CARS Section ======= -->
    {% include "top_cars.html" %}
    <!-- End Top cars Section -->

    <!-- ======= Route Section ======= -->
    {% include "route_calc.html" %}
    <!-- End Route Section -->

  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include "footer.html" %}