<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{{ url_for('home') }}">DIESEL ON</a></h1>
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="{{ url_for('start') }}">Home</a></li>
          <li><a class="nav-link scrollto" href="#trading_info">Trading info</a></li>
          <li><a class="nav-link scrollto" href="#top_cars">Top cars</a></li>
          <li><a class="nav-link scrollto" href="#travel_cost">Travel cost</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
</header>